@import "scss/normalize";

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.chapter_heading {
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
}

.document {
    display: flex;
    padding-top: 3.3em;
    height: calc(100% - 6.6em);
}

.active {
    color: red;
}

.sidebar {
    padding: 0 1em;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: space-between;
    cursor: pointer;
    font-family: monospace; 
    overflow-y: scroll;
    height: 100%;
}

.body {
    width: calc(90% - 4em);
    padding: 0 2em;
    height: 100%;  
    overflow-y: scroll;
}

.verse {
    display: flex;
    padding: .5em;
    align-items: center;
}

.verse-id {
    width: calc(3% - 1em);
    margin-right: 1em;
    font-family: monospace;
    color: #aaa;
}

.verse-content {
    width:97%;
    font-size: 1.3em;
}

header {
    background-color: #fff;
    width: calc(100vw - 4em);
    position: fixed;
    padding: 1em 2em;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
}