body {
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;

    color: #222;
}

.chapters_idx .list-item {
    text-align: right;
}

.chapter_heading {
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
}

.document {
    display: flex;
    padding-top: 3.3em;
    height: calc(100% - 6.6em);
}

.menu {
    display: none;
}

.prev, .next {
    cursor: pointer;
}

.active {
    color: #fff;
    background: hsl(225, 73%, 57%);
}

.list-item {
    padding: .1em .5em;
    border-radius: 5px;
    transition: .1s all;
}

.list-item:hover {
    background-color: hsl(225, 73%, 57%);
    color: #fff;
}

.sidebar {
    /* border: 1px solid #ccc; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: calc(15% - 2em);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-self: center;
    cursor: pointer;
    height: 90%;
    color: #555;
    box-shadow: 0 0 20px #ccc;

}

.books_idx, .chapters_idx {
    overflow-y: scroll;
}

.books_idx::-webkit-scrollbar, .chapters_idx::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.body {
    width: calc(85% - 4em);
    padding: 0 2em;
    height: 100%;  
    overflow-y: scroll;
}

.verse {
    
    display: flex;
    padding: .5em;
    align-items: center;
}

.verse-id {
    font-family:  Calibri, 'Trebuchet MS', sans-serif;

    width: calc(3% - 1em);
    margin-right: 1em;
    text-align: right;
    color: #aaa;
}

.verse-content {
    width:97%;
    font-size: 1.3em;
}

header, footer {
    background-color: #fff;
    width: calc(100vw - 4em);
    position: fixed;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px #ccc;
}



footer {
    bottom:0;
}

@media screen and (min-width: 1024px) {
    .sidebar {
        width: calc(25% - 2em);
    }
    .body {
        width: calc(75% - 4em);
    }
}